#main-menu{
    text-align: center;
}

.anyClass {
    height:80vh;
    overflow-y: auto;
  }

.table-fixed    { overflow-y: auto; height: 100px; }
.table-fixed th { position: sticky; top: 0; }

.table {
  margin-bottom: 5rem
}